
*{
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}
     
:root{
    --heading-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);
    --font-size: 40px;
    --para-font-size: 16px;
    --font-weight: 800;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    align-items: center;
    border-radius: 8px;
    background-color: #FF5400;
    padding: 14px 35px;
    border: 0px;
}
/* Style nav menu */
.nav-main{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    align-items: center;   
}
.menu-icon{
    display: flex;
    align-items: center;
}
.icon-image{
    width: 60px;
    height: 56px;
    margin:0px 20px;
}
.travel-text{
    font-size: var(--font-size);
    color: var(--heading-color);
    font-weight: var(--font-weight);
}
.designed-text{
    color: #ff5400;
}
.menu-text{
    font-weight: 500;
}
.fa-bars{
    font-size: 30px;
    cursor: pointer;
    display: none;
    padding: 0px 30px;
}
.menu-text ul{
    display: flex;
    
}
.menu-text ul li{
    list-style: none;
    margin: 0px 10px;
}
 ul li a .active-text{
   color: #ff5400;
}
.menu-text ul li a{
    text-decoration: none;
    color: #424247;
}
.menu-text ul li a:hover{
    color: #ff5400;
    transition: 0.3s;
}

 /* Style Hero section */

.hero-section-container{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    max-width: 1170px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    border-radius: 16px;
    }
.content-container{
    padding: 105px 185px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 16px;
}
.explore-text{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}
.text-des{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.input-container{
    margin-top: 48px;
    display: flex;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
    align-items: center;


}
.input-container form input{
    width: 160px;
    height: 52px;
    background: #fff;
    padding: 15px;
    margin: 16px;
    border-radius: 8px;
    border: 0px;
}
::placeholder{
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.btn-success{
    width: 160px;
    height: 52px;
    color: #fff;
    background: #FF5400;
    padding: 15px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    border: 0px;
    font-size: 16px;
    font-weight: 400;
}
#when-option{
    width: 160px;
    height: 52px;
    background: #fff;
    padding: 15px;
    margin: 16px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
#select-type{
    width: 160px;
    height: 52px;
    background: #fff;
    padding: 15px;
    margin: 16px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}  

/* style section 1 */
.section-one-container{
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}
.text-container{ 
    padding-right:  50px 
}
.tour-text{
    font-size: var(--font-size);
    color: var(--heading-color);
    font-weight: var(--font-weight);   
}
.tour-description{
    font-size: var(--para-font-size);
    color: var(--paragraph-color);
    line-height: 26px;
    padding: 25px 0px;
}
.image-container{
    width: 540px;
    height: 550px;
}
ul li{
    font-size: var(--para-font-size);
    color: var(--paragraph-color);
    line-height: 26px;
    padding: 5px;
}

/* style section 2 */
.section-two-container{
    margin: 100px auto;
    max-width: 1170px;

}
.text-container-2{
    max-width: 645px;
    margin: 0 auto;
}
.destination-text{
    font-size: var(--font-size);
    color: var(--heading-color);
    font-weight: var(--font-weight);
    text-align: center;
}
.destination-description{
    font-size: var(--para-font-size);
    color: var(--paragraph-color);
    line-height: 26px;
    padding: 25px 0px 50px 0px;
    text-align: center;
}
 .column-one{
    display: flex;
    gap: 20px;
} 
.maldives{
    background-image: url(Images/Rectangle\ 5.png);
    padding: 132px 226px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}
.indonesia{
    background-image: url(Images/Rectangle\ 8.png);
    padding: 132px 220px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

.column-two{
    display: flex;
    gap: 20px;
}
.srilanka{
    background-image: url(Images/Rectangle\ 6.png);
    padding: 125px 130px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}
.north-america{
    background-image: url(Images/Rectangle\ 7.png);
    padding: 125px 137px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}
.kashmir{
    background-image: url(Images/Rectangle\ 9.png);
    padding: 125px 80px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}
.column-three{
    display: flex;
    gap: 20px;
}
.bangladesh{
    background-image: url(Images/Rectangle\ 11.png);
    padding: 132px 156px;
    border-radius: 16px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}
.bandarban{
    background-image: url(Images/Rectangle\ 10.png);
    border-radius: 16px;
    padding: 132px 260px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
}

/* style section 3 */

.section-three-container{
        max-width: 1170px;
        margin: 50px auto;
    }
    .section-heading-container{
        max-width: 645px;
        margin: 0 auto;
    }
    .choose-text{
        font-size: var(--font-size);
        color: var(--heading-color);
        font-weight: var(--font-weight);
        text-align: center;
    }
    .choose-description{
        font-size: var(--para-font-size);
        color: var(--paragraph-color);
        line-height: 26px;
        text-align: center;
    }
.main-box-container{
    display: flex;
    margin: 30px 0px;
}
.hotel-container{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px ;
    margin: 0px 10px;
}
.service-container{
    border-radius: 16px;
     border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px;
    margin: 0px 10px;
}
.price-container{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px;
    max-width: 537px;
    max-height: 284px;
    margin: 0 auto;
}

/* style section 4 */
.section-four-container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.newsletter-container{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}



/* Respnsive style */

@media screen and (max-width:600px){
    resposive nav menu */
     .nav-main{
        margin: 10px 0px;
    }
    .menu-text{
        display: none;
    }
    .fa-solid{
        display: block;
    }
    .travel-text{
        font-size: 22px;
    }
    .input-container{
        flex-direction: column;
    } 
    #when-option, #select-type{
        width: 90%;
    }
    /* responsive hero section */
    .content-container{
        padding: 50px 10px;
    }
    .explore-text{
        font-size: 35px;
    }
    .hero-section-container{
        padding-bottom: 50px;
    }
    .text-des, .destination-description{
        font-size: 14px;
    }
    .hero-section-container{
        border-radius: 0px;
    }
    .content-container{
        border-radius: 0px;
    }
    .input-container form input {
        position: relative;
        width: 90%;
    }
    .btn{
        width: 90%;
        display: flex;
        gap: 15px;
        text-align: center;
    }
    .select-field{
        width: 90%;
    }
    /* responsive section 1 */
    .section-one-container{
        flex-direction: column;
    }
    .tour-text, .destination-text{
        font-size: 30px;
    }
   
    .image-container{
        margin-top: 25px;
        padding: 0px 25px;
    }
    .section-one-container{
        padding: 0px 25px;
    }
    /* responsive section 2 */
    .column-one, .column-two, .column-three {
        flex-direction: column;
    }
    .maldives, .indonesia , .srilanka, .north-america, .kashmir, .bangladesh, .bandarban{
        padding: 90px 150px;
        margin: 10px;
    }
    /* responsive section 3 */
    .main-box-container{
        flex-direction: column;
    }
    .service-container, .hotel-container{
        margin: 15px 0px;
    }
}